chef_server_url '{{ onepasswordRead "op://Algolia/Algolia-Chef/chef_server_url" .onepasswordAccount }}'
client_key '{{ onepasswordRead "op://Algolia/Algolia-Chef/client_key" .onepasswordAccount }}'
node_name '{{ onepasswordRead "op://Algolia/Algolia-Chef/node_name" .onepasswordAccount }}'