{
  "$schema": "https://opencode.ai/config.json",
  "model": "enablers/{{ onepasswordRead "op://Algolia/AI-Config/model-size-id" .onepasswordAccount }}",
  "small_model": "enablers/{{ onepasswordRead "op://Algolia/AI-Config/model-size-id" .onepasswordAccount }}",
  "provider": {
    "enablers": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Enablers",
      "options": {
        "baseURL": {{ onepasswordRead "op://Algolia/AI-Config/openai-endpoint-inference" .onepasswordAccount | quote }},
        "apiKey": "<<INJECTED_OPENAI_TOKEN>>"
      },
      "models": {
        {{ onepasswordRead "op://Algolia/AI-Config/model-size-id" .onepasswordAccount | quote }}: {
          "id": {{ onepasswordRead "op://Algolia/AI-Config/model-size-id" .onepasswordAccount | quote }},
          "name": {{ onepasswordRead "op://Algolia/AI-Config/model-size-id" .onepasswordAccount | quote}},
          "reasoning": true,
          "limit": {
            "context": {{ onepasswordRead "op://Algolia/AI-Config/model-context-window" .onepasswordAccount }},
            "output": {{ onepasswordRead "op://Algolia/AI-Config/model-max-batch-tokens" .onepasswordAccount }}
          },
          "tool_call": true
        }
      }
    }
  },
  "mcp": {
    "Brave": {
        "enabled": true,
        "type": "local",
        "command": [
            "docker",
            "run",
            "-i",
            "--rm",
            "-e",
            "BRAVE_API_KEY",
            "local/brave-search-mcp-server",
        ],
        "environment": {
            "BRAVE_API_KEY": {{ onepasswordRead "op://IT/brave-free-ai-api-key/password" .onepasswordAccount | quote }}
        }
    },
    "Context7": {
        "enabled": true,
        "type": "local",
        "command": ["npx", "-y", "@upstash/context7-mcp", "--api-key", {{ onepasswordRead "op://IT/context7-api-key/password" .onepasswordAccount | quote }}],
    },
    "Atlassian": {
        "enabled": true,
        "type": "local",
        "command": [
            "docker",
            "run",
            "-i",
            "--rm",
            "-e", "CONFLUENCE_URL",
            "-e", "CONFLUENCE_USERNAME",
            "-e", "CONFLUENCE_API_TOKEN",
            "-e", "CONFLUENCE_SPACES_FILTER",
            "-e", "READ_ONLY_MODE",
            "ghcr.io/sooperset/mcp-atlassian:0.21.0",
        ],
        "environment": {
            "CONFLUENCE_URL": {{ onepasswordRead "op://Algolia/Atlassian/confluence-url" .onepasswordAccount | quote }},
            "CONFLUENCE_USERNAME": {{ onepasswordRead "op://Algolia/Atlassian/confluence-username" .onepasswordAccount | quote }},
            "CONFLUENCE_API_TOKEN": {{ onepasswordRead "op://Algolia/Atlassian/confluence-api-token" .onepasswordAccount | quote }},
            "CONFLUENCE_SPACES_FILTER": "FOUNDATION",
            "READ_ONLY_MODE": "true",
        }
    }
  }
}