{
  "$schema": "https://opencode.ai/config.json",
  "model": "vllm/{{ onepasswordRead "op://Algolia/AI-Config/minimax-model-id" .onepasswordAccount }}",
  "small_model": "vllm/{{ onepasswordRead "op://Algolia/AI-Config/minimax-model-id" .onepasswordAccount }}",
  "provider": {
    "vllm": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Enablers",
      "options": {
        "baseURL": {{ onepasswordRead "op://Algolia/AI-Config/openai-endpoint-inference" .onepasswordAccount | quote }},
        "apiKey": "<<INJECTED_OPENAI_TOKEN>>"
      },
      "models": {
        {{ onepasswordRead "op://Algolia/AI-Config/minimax-model-id" .onepasswordAccount | quote }}: {
          "id": {{ onepasswordRead "op://Algolia/AI-Config/minimax-model-id" .onepasswordAccount | quote }},
          "name": {{ onepasswordRead "op://Algolia/AI-Config/minimax-model-name" .onepasswordAccount | quote}},
          "reasoning": true,
          "limit": {
            "context": {{ onepasswordRead "op://Algolia/AI-Config/minimax-model-context-window" .onepasswordAccount }},
            "output": {{ onepasswordRead "op://Algolia/AI-Config/model-max-batch-tokens" .onepasswordAccount }}
          },
          "tool_call": true
        }
      }
    }
  },
  "mcp": {
    "Brave": {
        "enabled": true,
        "type": "local",
        "command": [
            "docker",
            "run",
            "-i",
            "--rm",
            "-e",
            "BRAVE_API_KEY",
            "local/brave-search-mcp-server",
        ],
        "environment": {
            "BRAVE_API_KEY": {{ onepasswordRead "op://IT/brave-free-ai-api-key/password" .onepasswordAccount | quote }}
        }
    }
  }
}