export AUSER={{ onepasswordRead "op://Algolia/Config/auser" .onepasswordAccount }}
export VAULT_ADDR={{ onepasswordRead "op://Algolia/Vault/address" .onepasswordAccount }}

export AJIRA_USER={{ onepasswordRead "op://Algolia/Config/ajira-user" .onepasswordAccount | quote }}
export AJIRA_API_KEY={{ onepasswordRead "op://Algolia/Jira - API Token - gh-branch/credential" .onepasswordAccount | quote }}

alias kitchen-wrapper="{{ onepasswordRead "op://Algolia/Config/chef-src-dir" }}/tools/kitchen-wrapper"
alias vault-login-user="vault login -field=policies -method=oidc role=operator"
alias vault-login-oidc="vault login -field=policies -method=oidc"

function init-infra-cli-dev {
    INFRA_CLI_SRC_DIR={{ onepasswordRead "op://Algolia/Config/infra-cli-src-dir" .onepasswordAccount | quote }}

    cd ${INFRA_CLI_SRC_DIR}
    pyenv activate cli
    export PYTHONPATH=modules
    env | grep PYTHONPATH
}

function ai-get-token {
    AI_TOKEN=$(vault read -field=token identity/oidc/token/enablers)

    CONFIGS=(~/.config/opencode/opencode.json ~/.config/crush/crush.json ~/Work/config/kilo-code-settings.json ~/.claude/settings.json)
    for c in ${CONFIGS[@]}; do
        sed -i '' -e "s/<<INJECTED_OPENAI_TOKEN>>/${AI_TOKEN}/g" $c
    done

    export VIBE_API_KEY=$(echo $AI_TOKEN)
}

# CLI
source <(appcli completion zsh)